
@charset "utf-8";
/*
Versions：v1.0
Author: 白明辉
Email:916402001@qq.com
Data: 2015.10.29
amendment record：

*/
*,*:before,*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
body {text-align: left;  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%; font:14px/24px Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;-webkit-font-smoothing: antialiased; color:#3f484f;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td {	margin: 0;	padding: 0;}
/* 重设 HTML5 标签*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* HTML5 媒体文件跟 img 保持一致*/
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
table, fieldset, img, a img {border: 0;}
ul, ol, li, dl, dd, dt {list-style: none outside none;}
table {	border-collapse: collapse;border-spacing: 0;}
em, strong, th {font-style: normal;font-weight: normal;}
b,strong {font-weight: 600;}
audio,canvas,progress,video {  display: inline-block; /* 1 */  vertical-align: baseline; /* 2 */}
img { width: auto\9;height: auto;max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
input, select, form img, button {vertical-align: middle;}
iframe {overflow: hidden;}
small {  font-size: 80%;}
svg:not(:root) {  overflow: hidden;}
hr {  -moz-box-sizing: content-box;  box-sizing: content-box;  height: 0;}
h1 {  margin: .67em 0;  font-size: 2em;}
mark {  color: #000;  background: #ff0;}
small {  font-size: 80%;}
sub,sup {  position: relative;  font-size: 75%;  line-height: 0;  vertical-align: baseline;}
sup {  top: -.5em;}
sub {  bottom: -.25em;}
img {  border: 0;}svg:not(:root) {  overflow: hidden;}
figure {  margin: 1em 40px;}
img {  vertical-align: middle;}
a, a:link, a:visited {text-decoration: none;color: #3f484f;}
a:hover {text-decoration: none;	color: ##6dabde;}
a, a:focus {outline: none;}/*去除链接虚线*/
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cg_fl{ float:left; display:inline;}
.cg_fr{ float:right; display:inline;}
.disno{display:none;}
.clearfix:after {visibility: hidden; display: block; font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.fix:after{clear:both;content: ".";display: block;height: 0;visibility: hidden;}
.blank,.blank5,.blank1,.blank10,.blank20,.blank30{ clear:both; display:block; font-size:1px; visibility:hidden; height:-1px; line-height:0; }
.blank5{ height:5px; }.blank10{ height:10px; }.blank20{ height:20px; }.blank30{ height:30px; }.blank1{ height:1px; }
/*色彩
   ========================================================================== */
.c_lan,.c_lan a,a.c_lan:link,a.c_lan:visited {color:#1D3D7A!important;}
 a.c_lan:hover,.c_lan a:hover{color:#F40701!important;}

 /* 框架*/
 @media print {}




