@charset "utf-8";
/*
Versions：v1.0
Author: 白明辉
Email:916402001@qq.com
Data: 2015.05.29
amendment record：

*/
@media only screen and (min-width: 1500px) {}
@media only screen and (min-width: 750px) and (max-width: 999px){}
@media (max-width: 950px){}
@media only screen and (min-width: 600px) and (max-width: 749px){}
@media only screen and (min-width: 481px) and (max-width: 599px) {}
@media only screen and (max-width: 480px){}
